@font-face {
  font-family: 'SouthernAire_Personal_Use_Only';
  font-weight: 400;
  font-style: normal;
  src: local('SouthernAire_Personal_Use_Only'),
       url('../fonts/SouthernAire_Personal_Use_Only.woff2') format('woff2'),
       url('../fonts/SouthernAire_Personal_Use_Only.woff') format('woff');
  font-display: swap;
}



@font-face {
  font-family: 'Aldyn Heart Italic';
  font-weight: 400;
  font-style: normal;
  src: local('Aldyn Heart Italic'),
       url('../fonts/Aldyn Heart Italic.woff2') format('woff2'),
       url('../fonts/Aldyn Heart Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('ProximaNova-Regular'),
       url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-display: swap;
}


