@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';





.header {
  &__title {
  font-family: 'Aldyn Heart Italic';
    color: aquamarine;
    font-size: 200px;
    margin-top: 200px;
  }
  
}



@import 'media';